* {
        margin: 0;  // *是通配选择器  选择所有的标签
        padding: 0;
    }
a{
	text-decoration: none;
}
ul,li,ol{
	list-style:none;
}
img,input,form,select,textarea{
	vertical-align:middle;
}
body{
	font-size:12px; width:980px; margin:0 auto; background:#e9eaee; 
}
.top{
	background: #E5E9FF;
	height: 63px;
	width: 100%;
	float:left;
	display: flex;
}
.logo{
	max-width: 80px;
    height: 100%;
    margin-right: 8px;
}
.nav{
	width:auto; height:100%;
}
.nav ul li{
	position: relative;
    display: inline-block;
    list-style: none;
    font-size: 14px;
    height: 100%;
    line-height: 44px;
}
.nav a{
	font:14px/63px "微软雅黑";
	color:#9E9AC5; padding:0px 20px; height:100%; display:block;
}
.nav a:hover{
	color:#4E4A80;
	background:#fff center bottom;
	font-weight: bold;
}
.container-vertical{
	-webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-box-align: stretch;
    -webkit-box-pack: start;
    justify-content: flex-start;
    align-items: stretch;
    display: flex;
    flex-direction: column;
    width: 100%;
    top: 63px;
    height: calc(100% - 63px);
    position: fixed;
    background: #fff;
}
.container-horizontal{
	-webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-box-align: stretch;
    -webkit-box-pack: start;
    justify-content: flex-start;
    align-items: stretch;
    display: flex;
    flex-direction: row;
}
.topNavigation{
	height: 45px;
	width:100%;
    line-height: 45px;
    border-bottom: 1px solid rgba(0,0,0,.12);
}
.topNavigation-in{
	-webkit-box-align: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.titles{
	-webkit-box-align: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin:0 32px;
    color:#8590a6;
    font-size: 14px;
}
.leftNavigation{
    -webkit-box-align: stretch;
    -webkit-box-pack: start;
    justify-content: flex-start;
    align-items: stretch;
    display: flex;
    background: #fff;
    max-height: 100%;
    z-index:999;

}
ul.chooseList {
    padding: 16px 0;
    overflow-y: scroll;
    max-height: 100%;
    width:240px;
    transition: width .25s ease 0s;

}
.listItem {
    transition: visibility .25s steps(1),opacity .1s linear .25s;
    visibility: visible;
    opacity: 1;
    -ms-filter: none;
    filter: none;
}
.listItem:hover{
	background: #3654FD20
}
button.buttonStyle {
    background: transparent none repeat 0 0 scroll;
    color: rgba(0,0,0,.87);
    border: 0;
    font-size: 1em;
    margin: 0;
    padding: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    min-width: 0;
}
.listItem .item-name {
    font-weight: 700;
    padding: 6px 24px;
    margin: 0;
    font-size: 14px;
    line-height: 20px;
}

.questionBody{
	overflow-y: scroll;
    -o-box-flex: 1;
    -ms-box-flex: 1;
    box-flex: 1;
    flex-grow: 1;
    background: #fff;
}
.contentBox{
	padding-top: 60px;
	padding-bottom: 60px;
	padding-left: 20px;
    margin: 0 auto;
    max-width: 960px;
    color: #1f1f1f;
}
.toolsBar{
	overflow: hidden;
	z-index: 9999;
	position: fixed;
	padding:5px;
	text-align:center;
	top:30%;
	right: 10%;
	background: #3654FD50;
	width: 50px;
	height: 200px;
	border-radius: 5px;
}
.toolItem{
	line-height: inherit;
    background-color: transparent;
    border: none;
    border-radius: 0;
    height: 50px;
    align-items: center;
}